.main {
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 192, 197);
  color: rgb(68, 50, 50);
  font-family: 'Vazirmatn';
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  min-height: 100vh;
}

.layout p {
  background-color: rgb(153, 151, 151);
  padding: 8px;
  color: black;
  font-size: 32px;
  border: 1px solid gray;
  border-radius: 16px;
  font-weight: bold;
}
