.inputField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.inputField input {
  width: 500px;
  height: 30px;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Vazirmatn';
  padding: 4px;
}

.inputField button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  padding: 20px;
  border-radius: 50px;
  border: 2px solid black;
  font-size: 34px;
}
